@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.homepage {
    font-family: 'Ubuntu', sans-serif;
    background-image: url('images/double-bubble.png');
    overflow-x: hidden;
}

.mynav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    background-color: #292929;
    color: #fff;
    height: 60px;
}

.mylinks {
    height: 60px;
}

.mylogo {
    padding-left: 50px;
}

.mybrand {
    font-size: 1.5rem;
    margin: .5rem;
}

.mylinks ul {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 300px;
    display: flex;
}

.mylinks li {
    list-style: none;
}

.mylinks li a {
    height: 100%;
    margin-top: -4px;
    text-decoration: none;
    font-size: .8rem;
    color: #fff;
    padding: 1.6rem;
    display: block;
}

.mylinks li:hover {
    background-color: #6d6e6d;
}

.currentpage {
    background-color: #8b8c8b;
}

.currentpage a {
    color: #000 !important;
}

.mycart:hover {
    color: #fff;
}

.mytoggle {
    position: absolute;
    top: 15px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.loginpage .mytoggle {
    top: 0;
}

.mytoggle .mybar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 1100px) {

    .mynav{
        height: auto;
    }

    .mylogo {
        display: none;
    }

    .mytoggle {
        display: flex;
    }

    .mylinks {
        display: none;
        width: 100%;
        height: auto;
    }

    .mynav {
        flex-direction: column;
        align-items: flex-start;
    }

    .mylinks ul {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .mylinks li {
        text-align: center;
    }

    .mylinks li a {
        padding: .5rem 1rem;
    }

    .active {
        display: flex;
    }
}

.row {
    margin-top: 150px;
}

/*.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

@media (min-width: 770px) {
    .col-left {
        padding-left: 40px;
    }

    .col-right {
        padding-right: 40px;
    }
}

@media (max-width: 770px) {
    .col-left, .col-right {
        padding: 0 20px 20px 20px;        
    }
}

.leftcol, .rightcol {
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #827E7E;
}*/

.container-fluid {
    height: 100%;
    width: 100%;
    padding: 0;
    }

#startimage {
    background-image: url(images/car5.jpg);
    height: 100vh;
}

.welcometext {
    position: absolute;
    top: 22%;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px #000;
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));*/
}

#searchname {
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 25px 0 0 25px;
    border: none;
    border-top: 1px solid slategray;
    border-left: 1px solid slategray;
    border-bottom: 1px solid slategray;
    outline: none;
    position: relative;
}

#submitbutton {
    outline: none;
    text-align: center;
    border-radius: 0 25px 25px 0;
    border: none;
    border-top: 1px solid slategray;
    border-right: 1px solid slategray;
    border-bottom: 1px solid slategray;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #ffd08a;
    color: #fff;
    margin-left: -5px;
}

#godown {
    position: absolute;
    top: 94%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#goup {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.fa-chevron-down {
    color: #fff;
}

.fa-chevron-up {
    color: #000;
}

#presentation {
    height: 93vh;
}

.row-presentation {
    margin-top: 150px;
    height: 500px;
}

.row-presentation img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #000;
}


.col-presentation .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.loginpage {
    font-family: 'Ubuntu', sans-serif;
    background-image: url('images/double-bubble.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.loginpage h1 {
    font-weight: bold;
    margin: 0
}

.loginpage form h1 {
    margin-bottom: 30px;
}

.loginpage p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.loginpage a {
    color: grey;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.loginpage .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 750px;
    max-width: 100%;
    min-height: 480px;
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    border-radius: 20px;
    border: 1px solid #6d6e6d;
    background: #6d6e6d;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

#signupbutton {
    margin-top: 20px;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #292929;
    background: linear-gradient(to right, #6d6e6d, #292929) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 3;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}