

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="addpage">
    
    <nav class="mynav">
        <div class="mylogo"><i class="fa fa-tools fa-2x"></i></div>
        <div class="mybrand">AutoParts</div>
        
        <a href="#" class="mytoggle">
            <span class="mybar"></span>
            <span class="mybar"></span>
            <span class="mybar"></span>
        </a>

        <div class="mylinks">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'listview' %}">Parts</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'auth' %}">Log In</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="{% url 'cartview' %}"><i class="fas fa-shopping-cart"></i></a></li>

                {% if user.is_staff %}
                    <li class="currentpage"><a href="{% url 'adminview' %}">Admin</a></li>
                {% endif %}
            </ul>
        </div>

        {% if user.is_authenticated %}
           <p> Hello, {{ user }}! </p>
        {% endif %}
    </nav>

        <br>


    <div class="" style="height: 1200px">
        <div class="container-fluid">
        <h1 style="text-align: center;">Add Item</h1>
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <label for="name">Item Name</label><br>
            <input type="text" id="name" name="name"><br>

            <label for="brand">Brand</label><br>
            <input type="text" id="brand" name="brand"><br>

            <label for="price">Price</label><br>
            <input type="text" id="price" name="price"><br>

            <label for="stock">Stock</label><br>
            <input type="text" id="stock" name="stock"><br>

            <label for="cat">Category</label><br>
            <select id="cat" onchange="showSelect();" name="category">
                <option value="transmission">Transmission</option>
                <option value="engine">Engine</option>
                <option value="body">Body</option>
                <option value="electric">Electric</option>
                <option value="brakes">Brakes</option>
                <option value="tires">Tires</option>
            </select><br>

            <div id="engineopt" style="display: none;">
                <label for="power">Power</label><br>
                <input type="text" id="power" name="power"><br>
                <label for="cc">Cylinder Capacity</label><br>
                <input type="text" id="cc" name="cc"><br>
            </div>

            <div id="transmissionopt" style="display: none;">
                <label for="fluid">Fluid Type</label><br>
                <input type="text" id="fluid" name="fluid"><br>
                <label for="turbine">Turbine Type</label><br>
                <input type="text" id="turbine" name="turbine"><br>
            </div>

            <div id="bodyopt" style="display: none;">
                <label for="doors">Number of Doors</label><br>
                <input type="number" id="doors" name="doors"><br>
                <label for="width">Body Width</label><br>
                <input type="number" id="width" name="width"><br>
            </div>

            <div id="electricopt" style="display: none;">
                <label for="battery">Battery Power</label><br>
                <input type="number" id="battery" name="battery"><br>
                <label for="alternator">Alternator Type</label><br>
                <input type="text" id="alternator" name="alternator"><br>
            </div>

            <div id="tiresopt" style="display: none;">
                <label for="tiretype">Tire Type</label><br>
                <input type="text" id="power_tirespot" name="power_tirespot"><br>
                <label for="diameter">Diameter</label><br>
                <input type="number" id="diameter" name="diameter"><br>
            </div>

            <div id="brakesopt" style="display: none;">
                <label for="material">Brakes Material</label><br>
                <input type="text" id="material" name="metarial"><br>
                <label for="discradius">Disc Radius</label><br>
                <input type="number" id="discradius" name="discradius"><br>
            </div>

            <label for="imgs">Images</label><br>
            <input type="file" id="imgs" name="image" multiple><br>

            <input type="submit" value="Submit">
        </form>
    </div>
          

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="{% static 'js/homescript.js' %}"}></script>
       
       <script>
        function showSelect() {
            var d = document.getElementById("cat");
            var engine = document.getElementById("engineopt");
            var transmission = document.getElementById("transmissionopt");
            var body = document.getElementById("bodyopt");
            var electric = document.getElementById("electricopt");
            var tires = document.getElementById("tiresopt");
            var brakes = document.getElementById("brakesopt");
            var display = d.options[d.selectedIndex].text;

            if (display === "Engine")
                engine.setAttribute("style", "display: show;")
            else
                engine.style.display = "none";

            if (display === "Transmission")
                transmission.setAttribute("style", "display: show;")
            else
                transmission.style.display = "none";

            if (display === "Body")
                body.setAttribute("style", "display: show;")
            else
                body.style.display = "none";

            if (display === "Electric")
                electric.setAttribute("style", "display: show;")
            else
                electric.style.display = "none";

            if (display === "Brakes")
                brakes.setAttribute("style", "display: show;")
            else
                brakes.style.display = "none";

            if (display === "Tires")
                tires.setAttribute("style", "display: show;")
            else
                tires.style.display = "none";
        }
    </script>


    </div>
</body>

</html>
