

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="admin">

    <nav class="mynav">
        <div class="mylogo"><i class="fa fa-tools fa-2x"></i></div>
        <div class="mybrand">AutoParts</div>
        
        <a href="#" class="mytoggle">
            <span class="mybar"></span>
            <span class="mybar"></span>
            <span class="mybar"></span>
        </a>

        <div class="mylinks">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'listview' %}">Parts</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'auth' %}">Log In</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="{% url 'cartview' %}"><i class="fas fa-shopping-cart"></i></a></li>

                {% if user.is_staff %}
                    <li class="currentpage"><a href="{% url 'adminview' %}">Admin</a></li>
                {% endif %}
            </ul>
        </div>

        {% if user.is_authenticated %}
           <p> Hello, {{ user }}! </p>
        {% endif %}
    </nav>

    <br>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      


  

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/homescript.js' %}"}></script>
     <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrgI8h6-yZ5kTiK_loaoEKg56SiGrLm0U&callback=initMap">
        </script>


</body>

</html>
