{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="loginpage">
    <nav class="mynav">
        <div class="mylogo"><i class="fa fa-tools fa-2x"></i></div>
        <div class="mybrand">AutoParts</div>
        <a href="#" class="mytoggle">
            <span class="mybar"></span>
            <span class="mybar"></span>
            <span class="mybar"></span>
        </a>
        <div class="mylinks">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Parts</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li><a href="#">Contact</a></li>
                <li class="currentpage"><a href="#">Log In</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </nav>

    {% if user.is_authenticated %}
        Buna {{ user }}!
    {% endif %}
    

    {% if form.errors %}
        
        {% for key,value in form.errors.items %}
            <div class="alert alert-danger" role="alert">
                 {{ key }}:{{ value }} 
            </div>
        {% endfor %}

    {% endif %}


    {% if errorMessage %}
        <div class="alert alert-danger" role="alert">
             {{ errorMessage}}
        </div>
    {% endif %}

    {% if succesMessage %}
        <div class="alert alert-info">
             {{ succesMessage}}
        </div>
    {% endif %}
    

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="signupForm" method='POST'> {% csrf_token %}
                <h1>Create Account</h1>

                <input type="hidden" value="signup" name="whichForm">
                <input type="text" placeholder="Name" name="name" />
                <input type="email" placeholder="Email" name="email"/>
                <input type="password" placeholder="Password" name="password" />
                <button id="signupbutton" type="submit">Sign Up</button>
            </form>
        </div>





        <div class="form-container sign-in-container">
            <form id="signinForm" method='POST'> {% csrf_token %}
                <h1>Sign in</h1>

                <input type="hidden" value="signin" name="whichForm">
                <input type="email" placeholder="Email" name="email" />
                <input type="password" placeholder="Password" name="password" />
                <a href="#">Forgot your password?</a>
                <button id="signinbutton" type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/homescript.js' %}"}></script>
    <script src="{% static 'js/script.js' %}"}></script>
</body>

</html>