

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="homepage">

    <nav class="mynav">
        <div class="mylogo"><i class="fa fa-tools fa-2x"></i></div>
        <div class="mybrand">AutoParts</div>
        
        <a href="#" class="mytoggle">
            <span class="mybar"></span>
            <span class="mybar"></span>
            <span class="mybar"></span>
        </a>

        <div class="mylinks">
            <ul>
                <li class="currentpage"><a href="home.html">Home</a></li>
                <li><a href="#">Parts</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>

        {% if user.is_authenticated %}
	       <p> Hello, {{ user }}! </p>
	    {% endif %}
    </nav>

    <div class="container-fluid" id="startimage"></div>

    <div class="welcometext">
        <h1>Welcome to AutoParts!</h1>
        <form action="#">
            <input type="text" id="searchname" name="searchname" placeholder="e.g. Air Filter">
            <input type="submit" value="Search" id="submitbutton">
        </form>
    </div>

    <div id="godown">
        <a href="#presentation"><i class="fas fa-chevron-down fa-2x"></i></i></a>
    </div>



    <div id="presentation">

        <div id="goup">
            <a href="#startimage"><i class="fas fa-chevron-up fa-2x"></i></i></a>
        </div>

        <div class="row row-presentation">
            <div class="col-md-4 col-presentation">
                <div class="container">
                    <img src="{% static 'images/car1.JPG' %}" alt=""><br><br><br><br>
                    <h2>Place your order!</h2>
                </div>
            </div>

            <div class="col-md-4 col-presentation">
                <div class="container">
                    <img src="{% static 'images/car2.JPG' %}" alt=""><br><br><br><br>
                    <h2>Add your products to cart!</h2>
                </div>
            </div>

            <div class="col-md-4 col-presentation">
                <div class="container">
                    <img src="{% static 'images/car3.JPG' %}" alt=""><br><br><br>
                    <h2>We will ship your order <br> as soon as possible!</h2>
                </div>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/homescript.js' %}"}></script>

</body>

</html>
